<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Games</h4>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" [routerLink]="['new']">New</button>
        </div>
    </div>
    <div class="card-body">
        <ng-template #loadingError>
            <div *ngIf="erro$ | async; else loading" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
            <ng-template #loading>
                <span>loading...</span>
            </ng-template>
        </ng-template>
        <div *ngIf="sucessoExclusao" class="alert alert-success" role="alert">
          Registro excluído com sucesso
        </div>
        <table class="styled-table" *ngIf="games$ | async as games; else loadingError"
        aria-describedby="Game List">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let g of games">
                    <td style="width: 10%;">{{ g.id }}</td>
                    <td style="width: 70%;">{{ g.name }}</td>
                    <td style="width: 30%;">
                        <span class="float-right">
                            <button class="btn btn-warning" (click)="edit(g.id)">
                                Alterar
                            </button>
                            &nbsp;
                            <button class="btn btn-danger" (click)="delete(g)">
                                Excluir
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja excluir esse registro?</p>
      <button type="button" class="btn btn-secondary" (click)="confirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="giveupDelete()">Não</button>
    </div>
</ng-template>
