<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">

  <div class="form-row">
    <div [ngClass]="class" role="alert">
      {{message}}
    </div>
    <div class="col-sm-12">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" />
    </div>
  </div>

  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="save()">
      Save
    </button>
  </div>
</form>